@use 'variables';
@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.react-datepicker {
	&-popper {
		* {
			font-family: 'Jost';
		}
	}

	&__close-icon {
		padding: 0;
		position: relative;

		&::after {
			background-color: rgb(255, 102, 102);
			box-sizing: border-box;
			width: 24px;
			height: 24px;
			font-size: 1.2rem;
			font-weight: 600;

			display: flex;
			align-items: start;
			justify-content: center;
		}
	}

	&__input-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
	}

	&__triangle {
		display: none;
	}
}

.container.light {
	.react-datepicker {
		&__header {
			background-color: rgb(240, 240, 240);
		}

		&__close-icon {
			&::after {
				color: rgb(33, 33, 33);
			}
		}
	}
}

.container.dark {
	.react-datepicker {
		* {
			color: rgb(225, 225, 225);
		}
		background-color: rgb(40, 40, 40);

		border-color: black;
		* {
			border-color: black !important;
		}

		&__header {
			* {
				color: rgb(225, 225, 225);
			}
			background-color: rgb(60, 60, 60);
		}

		&__time {
			background-color: rgb(40, 40, 40);

			&-list-item {
				&:hover {
					background-color: rgb(80, 80, 80) !important;
				}

				&--disabled {
					color: rgb(80, 80, 80) !important;
				}
				&--selected,
				&--keyboard-selected {
					background-color: rgb(255, 102, 102) !important;
				}
			}
		}

		&__day {
			&:hover {
				background-color: rgb(80, 80, 80);
			}

			&--disabled {
				color: rgb(80, 80, 80);
			}

			&--selected,
			&--keyboard-selected {
				background-color: rgb(255, 102, 102) !important;
			}
		}

		&__close-icon {
			&::after {
				color: rgb(255, 255, 255);
			}
		}
	}
}
