$font: 'circular';
$font-big: 1.5rem;
$font-medium: 1.2rem;
$font-small: 1rem;
$blue: rgb(7, 30, 59);
$trans-blues: rgba(7, 31, 59, 0.5);
$light-grey: rgb(247, 247, 247);
$grey-color: rgb(224, 224, 224);
$dark-grey: rgb(204, 204, 204);
$red: rgb(255, 102, 102);
$big-radius: 12px;
$small-radius: 8px;
$transition-curve: cubic-bezier(0.5, 1, 0.5, 1);
$padding: 20px;
