$font: 'Jost';
$font-xl: 1.5rem;
$font-l: 1.3rem;
$font-m: 1.2rem;
$font-s: 1.1rem;
$font-xs: 1rem;
$font-xxs: 0.9rem;
$blue-d: rgb(7, 30, 59);
$blue: rgb(17, 73, 144);
$blue-l: rgb(27, 116, 229);
$trans-blue: rgba(7, 31, 59, 0.5);
$grey-xl: rgb(248, 248, 248);
$grey-l: rgb(240, 240, 240);
$grey: rgb(225, 225, 225);
$grey-d: rgb(200, 200, 200);
$grey-xd: rgb(174, 174, 174);
$black: rgb(33, 33, 33);
$red: rgb(255, 102, 102);
$radius: 14px;
$transition-curve: cubic-bezier(0.5, 1, 0.5, 1);
$offset-xxs: 5px;
$offset-xs: 10px;
$offset-s: 15px;
$offset-m: 20px;
$offset-l: 30px;
$offset-xl: 40px;
$folder-height: 40px;

@mixin zoomin($color) {
	transition: 0.3s all ease-in-out;
	&:hover,
	&:focus {
		color: $grey-l;
		box-shadow: inset 0 0 3px 2rem $color;
	}
}
