$font: 'Jost';
$font-big: 1.5rem;
$font-medium: 1.2rem;
$font-small: 1rem;
$dark-blue: rgb(7, 30, 59);
$blue: rgb(17, 73, 144);
$light-blue: rgb(27, 116, 229);
$trans-blue: rgba(7, 31, 59, 0.5);
$light-grey: rgb(247, 247, 247);
$grey: rgb(224, 224, 224);
$dark-grey: rgb(204, 204, 204);
$red: rgb(255, 102, 102);
$radius: 10px;
$transition-curve: cubic-bezier(0.5, 1, 0.5, 1);
$offset-xs: 10px;
$offset-s: 20px;
$offset-m: 30px;
$offset-l: 40px;

@mixin zoomin($color) {
	transition: 0.3s all ease-in-out;
	&:hover,
	&:focus {
		color: $light-grey;
		box-shadow: inset 0 0 3px 2rem $color;
	}
}
