@mixin button($colorMX, $border-radMX, $font-familyMX) {
    background-color: $colorMX;
    border: none;
    box-shadow: none;
    width: 70px;
    height: 25px;
    padding: 0 10px;
    border-radius: $border-radMX;
    font-family: $font-familyMX;
    cursor: pointer;
}