$blue-color: hsl(214, 79%, 13%);
$blue-color-trans: hsla(213, 79%, 13%, 0.5);
$grey-color: hsl(0, 0%, 97%);
$grey-dark-color: hsl(0, 0%, 80%);
$red-color: hsl(0, 100%, 70%);
$font-family: 'circular';
$font-big: 1.5rem;
$font-medium: 1.2rem;
$font-small: 1rem;
$border-radius: 12px;