@use 'modules/index' as *;

html {
	height: 100vh;
	font-family: $font;
}

#root {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 'index main';
	height: 100vh;
}

.add {
	font-size: $font-l;
	cursor: pointer;
	align-self: center;
	justify-self: center;
}

.more {
	display: none;
	width: 24px;
	margin-left: auto;
	cursor: pointer;
}

.options {
	aspect-ratio: 10/16;
	position: absolute;
	width: 180px;
	background-color: $grey;
	box-shadow: rgb(84, 84, 84) 0 0 6px 0px;
	border-radius: $radius;
	top: 50%;
	left: calc(100% - $offset-xs);
	overflow: hidden;
	cursor: default;
	z-index: 1000;

	.option {
		font-size: $font-m;
		padding: $offset-xs $offset-s;
		cursor: pointer;
		&:hover {
			background-color: $grey-d;
		}
	}
}

.index {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: minmax($folder-height, min-content);
	gap: $offset-s;
	grid-area: index;

	background-color: $grey-l;
	margin: $offset-m;
	padding: $offset-m $offset-l;
	border: 2px solid $grey;
	border-radius: $radius;

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: $font-l;

		.icon {
			display: none;
		}
	}

	&:hover {
		.icon {
			cursor: pointer;
			display: block;
		}
	}

	form {
		min-width: 0; /* prevents grid from expanding */
		.input-cont {
			input {
				margin: 0 (-$offset-xs);
			}
		}
	}

	.folder {
		display: flex;
		align-items: center;
		gap: $offset-s;
		transition: 0.1s all $transition-curve;

		position: relative;
		font-size: $font-l;
		height: $folder-height;
		cursor: pointer;

		&.active {
			box-sizing: border-box;
			font-weight: 500;
			background-color: $grey;
			padding: $offset-xs;
			padding-right: $offset-s;
			margin: 0 0 0 (-$offset-xs);
			border: 1px solid $grey-d;
			border-radius: $radius;

			.bullet {
				background-color: transparent;
			}
		}

		&:hover {
			.more {
				display: flex;
				position: absolute;
				right: $offset-xxs;
			}
		}
	}
}

.main {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-area: main;

	.input-cont {
		flex-flow: column;
	}

	.header {
		display: flex;
		justify-content: right;
		font-family: $header-font;
		font-size: 1rem;
		margin: $offset-xs $offset-s 0 0;
		font-weight: 800;
	}

	.tasks {
		display: flex;
		flex-direction: column;

		margin: $offset-xl;

		.task {
			display: grid;
			grid-template-columns: min-content 1fr min-content;
			grid-template-areas: 'checkbox info more';
			column-gap: $offset-xs;

			position: relative;
			border-bottom: 1px solid $grey-d;
			padding-bottom: $offset-s;
			margin-bottom: $offset-s;

			.title {
				font-size: $font-l;
				grid-area: title;
			}
			.description {
				font-size: $font-m;
				grid-area: description;
			}

			.more {
				display: flex;
				align-self: center;
				grid-area: more;
			}

			.options {
				transform: translate(-105%, 0);
			}
		}
	}

	.notSelected {
		align-self: start;
		justify-self: center;
	}
}

			.info {
	display: flex;
	flex-flow: column;
				gap: $offset-xxs;
				grid-area: info;

				.title {
			font-size: $font-l;
}
				.description {
					font-size: $font-s;
}
}

			.more {
	display: flex;
				align-self: center;
				justify-self: center;
				grid-area: more;
			}

			.options {
				transform: translate(-105%, 0);
	}
}
	}

	.notSelected {
		align-self: start;
		justify-self: center;
	}
}
