@use 'modules/index' as *;

html {
	height: 100vh;
	font-family: $font;
}

#root {
	display: grid;
	grid-template-columns: 1.2fr 3fr;
	grid-template-areas: 'index main';
	height: 100vh;
}

.add {
	font-size: $font-l;
	cursor: pointer;
	align-self: center;
	justify-self: center;
}

.index {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: $folder-height;
	gap: $offset-s;
	grid-area: index;

	background-color: $grey-l;
	margin: $offset-m;
	padding: $offset-m $offset-l;
	border: 2px solid $grey;
	border-radius: $radius;

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: $font-l;

		.icon {
			display: none;
		}
	}

	&:hover {
		.icon {
			cursor: pointer;
			display: block;
		}
	}

	.input-cont {
		input {
			margin: 0 (-$offset-xs);
		}
	}

	.folder {
		display: flex;
		align-items: center;
		gap: $offset-s;
		transition: 0.1s all $transition-curve;

		position: relative;
		font-size: $font-l;
		cursor: pointer;

		&.active {
			box-sizing: border-box;
			font-weight: 500;
			background-color: $grey;
			padding: $offset-xs;
			margin: 0 (-$offset-xs) 0;
			border: 1px solid $grey-d;
			border-radius: $radius;

			.bullet {
				background-color: transparent;
			}
		}

		.more {
			display: none;
			width: 24px;
			margin-left: auto;
		}

		&:hover {
			.more {
				display: flex;
			}
		}

		.options {
			aspect-ratio: 10/16;
			position: absolute;
			width: 180px;
			background-color: $grey;
			box-shadow: rgb(84, 84, 84) 0 0 6px 0px;
			border-radius: $radius;
			top: 50%;
			left: calc(100% - $offset-xs);
			overflow: hidden;

			.option {
				font-size: $font-m;
				padding: $offset-xs $offset-s;
				&:hover {
					background-color: $grey-d;
				}
			}
		}
	}
}

.main {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-area: main;

	.input-cont {
		flex-flow: column;
	}

	.header {
		display: flex;
		justify-content: right;
		font-family: $header-font;
		font-size: 1rem;
		margin: $offset-xs $offset-s 0 0;
		font-weight: 800;
	}

	.tasks {
		display: flex;
		flex-direction: column;
		gap: 10px;

		margin: $offset-s;
	}
}

form {
	display: flex;
	flex-flow: column;
	gap: $offset-s;

	.input-cont {
		display: flex;
		align-items: center;
		gap: $offset-s;

		input {
			width: 100%;
			font-size: $font-l;
			padding: $offset-xxs $offset-xs;
			border: $grey-d 2px solid;
			border-radius: $radius;
		}

		textarea {
			resize: none;
			width: 100%;
			padding: $offset-xs;
			font-size: $font-m;
			border: $grey-d 2px solid;
			border-radius: $radius;
		}
	}
}

.bullet {
	aspect-ratio: 1/1;
	width: 7px;
	background-color: $blue-d;
	border-radius: 50%;
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
}

.confirm {
	aspect-ratio: 3/1;
	width: 450px;
	padding: $offset-s;
	background-color: $grey-xd;
	box-shadow: rgb(84, 84, 84) 0 0 10px 0;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: $radius;
	top: 25%;
	left: 50%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;

	button {
		border: none;
	}
}

.buttons {
	display: flex;
	gap: $offset-xs;
	justify-content: end;

	button {
		aspect-ratio: 5/2;
		width: 88px;
		font-size: $font-s;
		border: none;
		border-radius: $radius;
		cursor: pointer;
	}

	.submit {
		background-color: $grey-d;
	}
	.cancel {
		background-color: $red;
	}
}
