@use 'style_modules' as *;

.container {
    display: grid;
    grid-template:
        [row1-start] 'header header header' 60px [row1-end] [row2-start] 'nav main main' 1fr [row2-end] / 300px 1fr 1fr;
    height: 100%;

    &-header {
        grid-area: header;
    }

    &-nav {
        grid-area: nav;
    }

    &-main {
        grid-area: main;
    }
}