@use 'style_modules' as *;

.container {
    display: grid;
    grid-template:
        [row1-start] 'header header header' 60px [row1-end] [row2-start] 'nav main main' 1fr [row2-end] / 300px 1fr 1fr;
    height: 100%;
    font-family: $font-family;

    &-header {
        grid-area: header;
        background-color: $blue-color;
        z-index: 0;
    }

    &-nav {
        grid-area: nav;
        background-color: $grey-light-color;

        display: flex;
        flex-flow: column;
        gap: 10px;
        padding: 20px 30px 0 30px;

        &-project {
            display: grid;
            grid-template-columns: max-content 1fr min-content;
            padding: 5px 16px;
            border-radius: $border-radius-small;
            transition: all .1s $transition-curve;

            &_count {
                justify-self: right;
            }

            &_close {
                display: none;
                justify-self: right;
                align-self: center;
                margin-right: 10px;
            }

            &:hover {
                background-color: $grey-color;
            }

            &--active {
                background-color: $grey-dark-color !important;
            }
        }

        &_addProject {
            text-align: center;
            font-size: $font-small;
            height: min-content;

            &::before {
                content: '+ ';
            }
        }

        &-projectForm {
            display: none;
            flex-flow: column;

            &_title {
                border: 2px solid $grey-dark-color;
                border-radius: $border-radius-big;
                outline: none;
                padding: 5px;
                font-size: $font-small;
                font-family: $font-family;
            }

            &-buttons {
                display: flex;
                justify-content: end;
                margin-top: 5px;
                gap: 10px;

                &_cancel {
                    @include button($grey-dark-color, $border-radius-big, $font-family)
                }

                &_submit {
                    @include button($red-color, $border-radius-big, $font-family)
                }
            }
        }
    }



    &-main {
        grid-area: main;
        margin: 20px auto;
        width: $task-width;
        display: flex;
        flex-direction: column;
        gap: 10px;


        &_addTask {
            text-align: center;
            font-size: $font-big;
            height: min-content;

            &::before {
                content: '+ ';
            }
        }

        &-task {
            width: $task-width;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0 0 8px 0;
            border: 0px solid $grey-dark-color;
            border-width: 0px 0px 1px 0px;


            &-titleCont {
                width: $task-width;
                display: grid;
                grid-template-columns: min-content 1fr min-content max-content;
                grid-auto-flow: column;
                align-items: center;
                white-space: nowrap;

                &>img,
                &_checkbox {
                    margin-top: 5px;
                }

                &>img {
                    display: none;
                    cursor: pointer;
                    justify-self: end;
                }

                &_arrowDown {
                    justify-self: end;
                    margin-right: $gap;
                }


                &_checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 auto;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid $blue-color;
                    background-color: $blue-color-trans;
                    cursor: pointer;
                    margin-right: $gap;

                    &:hover {
                        img {
                            opacity: 50%;
                        }
                    }
                }

                &_title {
                    font-size: $font-big;
                }
            }

            &_body {
                display: none;
                font-size: $font-small;
            }


            &-buttons {
                display: none;
                justify-content: right;

                &_delete {
                    @include button($red-color, $border-radius-big, $font-family);
                }
            }

            &--done {}
        }


        &-taskForm {
            display: none;

            &-inputs {
                display: flex;
                flex-direction: column;
                border: 2px solid $grey-dark-color;
                border-radius: $border-radius-big;

                &_title,
                &_description {
                    border: none;
                    outline: none;
                    border-radius: $border-radius-big;
                    padding: 5px;
                    font-size: $font-small;
                    font-family: $font-family;
                }

                &_title {
                    display: flex;
                    align-items: center;
                    font-size: $font-medium;
                }

                &_description {
                    resize: none;
                    font-family: $font-family;
                }

                &_date {
                    @include button(white, $border-radius-big, $font-family);
                    width: 80px;
                    border: 2px solid $grey-dark-color;
                    margin: 5px;

                }
            }

            &-buttons {
                display: flex;
                justify-content: end;
                margin-top: 5px;
                gap: 10px;

                &_cancel {
                    @include button($grey-dark-color, $border-radius-big, $font-family)
                }

                &_submit {
                    @include button($red-color, $border-radius-big, $font-family)
                }
            }
        }
    }
}